@media print {
  @page {
    margin: 2cm;
    size: landscape;
  }
  .budget {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  html,
  body {
    margin: 0;
  }
}
